.app{
  height: 100vh;
  background-color: #111112;
  color: white;
}
.h6{
  font-size: larger;
  font-weight: 300;
  text-decoration: none;
  font-style: sans-serif;
}
.sidebar{
  background: rgb(255,255,255,0.2);
  color:whitesmoke;
  width:12%;
  height: 100%;
  border: 2px rgb(255,255,255,0.4);
  position: fixed;
  top: 0;
  left:0;
  padding:20px;
  backdrop-filter: blur(17px);
  --webkit-backdrop-filter: blur(17px);
}
.sidebar a{
  text-decoration: none;
  color:white;
  display:flex;
}
.yellowfill{
  fill:#fbd911;
  border-radius: 50px;
}
.orangefill{
  fill:#f38b1c;
  border-radius: 50px;
}
.redfill{
  fill:#ec2424;
  border-radius: 50px;
}